$font: "DejaVu Sans";

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  all: unset;
  background-color: rgba(13, 13, 13, 0.73);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale.green trough highlight {
  background-color: #b8bb26;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
}

.metric {
  margin-right: 20px;
}

.workspaces button:hover {
  color: #D35D6E;
}

.network {
  all: unset;
  margin-right: 10px;

  .label {
    margin-right: 10px;
  }
}

.label {
  all: unset;
  font-family: "Phosphor";
  font-size: large;

  &.nerdfont {
    font-family: $font;
  }
}


.workspaces {
  .focused {
    font-weight: bold;
  }
  
  .FREE {
    color: #928374;
    font-weight: 200;

    &.focused {
      font-weight: bold
    }
  }

  .URGENT {
    color: #fb4934;
  }
}
